{%extends 'base.html'%}

{%block content%}

<title> {{url}}</title>
{%if d%}
<div class="container-fluid">

    <h2 class="main-title mt-0">{{url}}</h2>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">User</th>
                <th scope="col">Tweet</th>
            </tr>
        </thead>

        {% for k in d %}
        <tbody>
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{k.time}}</td>
                <td>{{k.user}}</td>
                <td>{{k.tweet}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>
{%endif%}

{%endblock%}

